@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  --color-black: #000000;
  --color-gray: #9B9B9B;
  --color-brown: #2D2926;
}

/* ocultar scroll header */
::-webkit-scrollbar {
  display: none !important;
}

/* fonts */
@font-face {
  font-family: primary-font;
  src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: secondary-font;
  src: url(/fonts/NeuePowerTrial-Regular.otf);
}
@font-face {
  font-family: tertiary-font;
  src: url(/fonts/NeuePowerTrial-Medium.otf);
}
@font-face {
  font-family: quaternary-font;
  src: url(/fonts/Eina01-Light.ttf);
}
@font-face {
  font-family: quinary-font;
  src: url(/fonts/Eina01-SemiBold.ttf);
}
@font-face {
  font-family: sextary-font;
  src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: septimary-font;
  src: url(/fonts/Larken-Light.otf);
}

.primary {
  font-family: primary-font !important;
}
.secondary {
  font-family: secondary-font !important;
}
.tertiary {
  font-family: tertiary-font !important;
}
.quaternary {
  font-family: quaternary-font !important;
}
.quinary {
  font-family: quinary-font !important;
}
.sextary {
  font-family: sextary-font !important;
}
.septimary {
  font-family: septimary-font !important;
}

/* text-color */
.text-black {
  color: var(--color-black);
}
.text-gray {
  color: var(--color-gray);
}
.text-brown{
  color: var(--color-brown)
}

.bg-black-1 {
  background-color: var(--color-black);
}
.bg-gray-1 {
  background-color: var(--color-gray);
}
.bg-brown-1 {
  background-color: var(--color-brown)
}

.border-gray-1{
  border-color: var(--color-gray);
}

.bg-home{
  background-image: url('img/bg-home.png');
  background-size: 100%;
  height:85vh;
  width: auto;
  background-repeat: no-repeat;
}

.bg-torres{
  background-image: url('img/bg-torres.png');
  background-size: 100%;
  height:100vh;
  width: auto;
  background-repeat: no-repeat;
}
.bg-location{
  background-image: url('img/ubicacion.png');
  background-size: 100%;
  height:90vh;
  width: auto;
  background-repeat: no-repeat;
}

.bg-room{
  background-size: 100%;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
}

.line{
  height: 320px;
  width: 530px;
}

.amenidades .swiper-button-prev{
  background-image: url('img/arrow-prev.png') !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.amenidades .swiper-button-next{
  background-image: url('img/arrow-next.png') !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.amenidades .swiper-wrapper{
  margin-left: 80px !important;
  margin-right: 60px !important;
}

.alianzas .swiper-wrapper{
}

.alianzas .swiper-button-prev{
  background-image: url('img/arrow-prev.png') !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.alianzas .swiper-button-next{
  background-image: url('img/arrow-next.png') !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.card{
  height: 300px;
  padding-bottom:30px;
  padding-top:30px;
}