@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  --color-black: #000000;
  --color-gray: #9B9B9B;
  --color-brown: #2D2926;
}

/* ocultar scroll header */
::-webkit-scrollbar {
  display: none !important;
}

/* fonts */
@font-face {
  font-family: primary-font;
  src: url(/fonts/Poppins-Light.ttf);
}
@font-face {
  font-family: secondary-font;
  src: url(/fonts/NeuePowerTrial-Regular.otf);
}
@font-face {
  font-family: tertiary-font;
  src: url(/fonts/NeuePowerTrial-Medium.otf);
}
@font-face {
  font-family: quaternary-font;
  src: url(/fonts/Eina01-Light.ttf);
}
@font-face {
  font-family: quinary-font;
  src: url(/fonts/Eina01-SemiBold.ttf);
}
@font-face {
  font-family: sextary-font;
  src: url(/fonts/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: septimary-font;
  src: url(/fonts/Larken-Light.otf);
}
@font-face {
  font-family: octavary-font;
  src: url(/fonts/Poppins-ExtraLight.ttf);
}

.primary {
  font-family: primary-font !important;
}
.secondary {
  font-family: secondary-font !important;
}
.tertiary {
  font-family: tertiary-font !important;
}
.quaternary {
  font-family: quaternary-font !important;
}
.quinary {
  font-family: quinary-font !important;
}
.sextary {
  font-family: sextary-font !important;
}
.septimary {
  font-family: septimary-font !important;
}
.octavary {
  font-family: octavary-font !important;
}

/* text-color */
.text-black {
  color: var(--color-black);
}
.text-gray {
  color: var(--color-gray);
}
.text-brown {
  color: var(--color-brown)
}

.bg-black-1 {
  background-color: var(--color-black);
}
.bg-gray-1 {
  background-color: var(--color-gray);
}
.bg-brown-1 {
  background-color: var(--color-brown)
}

.border-gray-1{
  border-color: var(--color-gray);
}

.bg-home{
  background-image: url(/img/bg-home.png);
  background-size: 100%;
  height:85vh;
  width: auto;
  background-repeat: no-repeat;
}

.bg-contacto{
  background-image: url(/img/bg-contacto.png);
  background-size: 100%;
  height:85vh;
  width: auto;
  background-repeat: no-repeat;
}

.bg-torres{
  background-image: url(/img/bg-torres.png);
  background-size: 100%;
  height:100vh;
  width: auto;
  background-repeat: no-repeat;
}

.bg-location{
  background-image: url(/img/ubicacion.png);
  background-size: 100%;
  height:90vh;
  width: auto;
  background-repeat: no-repeat;
}

.bg-room{
  background-size: 100%;
  height: 100vh;
  width: auto;
  background-repeat: no-repeat;
}

.line{
  height: 320px;
  width: 530px;
}

.amenidades .swiper-button-prev{
  background-image: url(/img/arrow-prev.png) !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.amenidades .swiper-button-next{
  background-image: url(/img/arrow-next.png) !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.alianzas .swiper-button-prev{
  background-image: url(/img/arrow-prev.png) !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.alianzas .swiper-button-next{
  background-image: url(img/arrow-next.png) !important;
  color: transparent !important;
  background: no-repeat;
  width: 55px !important;
}

.card{
  padding-top: 35px;
  height: 330px;
}

.topologias-img{
  width: 400px;
  height: 500px;
}

#navbar-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Ajusta el color de fondo según tu diseño */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  display: none;
  animation: slideInMenu 0.3s ease-out; /* Cambia la animación a slideInMenu */
}

@keyframes slideInMenu {
  from {
    transform: translateX(-100%); /* Desplaza hacia la izquierda (fuera de la pantalla) al inicio de la animación */
  }
  to {
    transform: translateX(0); /* Desplaza hacia la derecha (posición original) al final de la animación */
  }
}

#navbar-sticky ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#navbar-sticky li {
  margin-bottom: 20px;
}

#navbar-sticky a {
  color: var(--color-brown);
  text-decoration: none;
  font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .bg-home{
    background-image: url(/img/bg-home-movil.png);
    background-size: 100%;
    height:60vh;
    width: auto;
    background-repeat: no-repeat;
  }
  .bg-contacto{
    background-image: url(/img/bg-home-movil.png);
    background-size: 100%;
    height:54vh;
    width: auto;
    background-repeat: no-repeat;
  }
  .bg-torres{
    background-image: url(/img/bg-torres.png);
    background-size: 100%;
    height:26vh;
    width: auto;
    background-repeat: no-repeat;
  }
  .topologias-img{
    width: auto;
    height: 270px;
  }
  .bg-room{
    background-size: 100%;
    height: auto;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bg-location{
    background-image: url(/img/ubicacion.png);
    width: 100%;
    height: 215px;
    background-repeat: no-repeat;
  }
  .card{
    padding-top: 35px;
    height: 230px;
  }   
}

/*Animations*/

[data-animate-in] {
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease
}

[data-animate-in="up"] {
  transform: translate3d(0, 24px, 0)
}

[data-animate-in="left"] {
  transform: translate3d(-25%, 0, 0)
}

[data-animate-in="right"] {
  transform: translate3d(25%, 0, 0)
}

[data-animate-in="down"] {
  transform: translate3d(0, -24px, 0)
}

[data-animate-in="fadeIn"] {
  transform: translate3d(0, 0, 0)
}

[data-animate-in].in-view {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transition: transform 0.6s ease, opacity 0.6s ease
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease
}

.page-loaded .fade-in,.page-loaded.fade-in {
  opacity: 1
}

.isSafari.isTouch [data-animate-in],.isSafari.isTouch [data-animate-in="up"] {
  opacity: 1;
  transition: none;
  transform: none
}
